<div class="container">
    <hr/>
    <p class="pull-right">&copy; Company 2012</p>
    <ul class="unstyled links">
        <li><a href="@Url.ToHome()">Home</a></li>
        <li><a href="@Url.ToAbout()">About</a></li>
        <li><a href="@Url.ToContact()">Contact</a></li>
    </ul>    
</div>
