@{
    ViewBag.Title = "Sign In";
    ViewBag.BodyId = "auth";
}

<div class="hero-unit">
    <h1>Not So Fast!</h1>        
    <p>
        You're trying to access restricted content. 
        <br />Please log in first.
    </p>        
    <div class="actions">
        <a href="#" class="log-in btn btn-primary btn-xlarge">
            <i class="icon-key"></i>
            Log In
        </a>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('.log-in').click(function() {
                $('#logInLink').click();
                return false;
            });
        });
    </script>
}
